<%- include('./templates/html-open') %>
<%- include('./templates/html-head'); -%>

  <body>
    <%- include('./templates/navbar-header'); -%>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
        </div>
      </div>
    </div>
  </body>

</html>